@import "../vars.scss";

.fixed-left {
  position: fixed;
  padding-left: 0;
}

.relative-content {
  margin-left: auto;
  padding: 0;
}
.wrapper {
  position: relative;
}

.wrapper span {
  position: absolute;
  background: rgba(9, 9, 121, 1);
  border-bottom: 1px solid rgba(9, 9, 121, 1);
  padding: 12px;
  color: #ffffff;
  font-weight: 700;
  top: 0;
  right: 0;
}
.section-menu {
  background-color: rgba(24, 22, 38, 0.4);
  &-li {
    list-style: none;
    a {
      text-decoration: none;
    }
    &-url {
      color: #e73931;
      transition: 0.3s;
      background-color: transparent;
      display: block;
      padding: 12px 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    }
    &-url:hover {
      background: #e73931;
      color: #ffffff;
      border-bottom: 1px solid #e73931;
    }
    &-url.active {
      background: #e73931;
      color: #ffffff;
      border-bottom: 1px solid #e73931;
    }
  }
}

@media (max-width: $screen-sm-max) {
  .section-menu {
    width: 100%;
    margin-bottom: 10px;
    &-li {
      text-align: center;
    }
  }
  .fixed-left {
    position: unset;
    width: 100%;
  }

  .relative-content {
    margin: 0;
  }
}
