.wrapword {
  white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /* Chrome & Safari */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  white-space: pre-wrap; /* CSS3 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}

.activeClass{
  background-color: red;
}

.pagination-style {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  button {
    border: 1px solid black;
    color: #000000;
    font-weight: 600;
  }
}

.section-dialogs {
  &-inner {
    &-active {
      &-message {
        display: flex;
        width: 100%;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        background-color: rgba(147, 112, 216, 0.4);
        border-radius: 15px;
        .row {
          display: flex;
          align-items: center;
        }
        &-avatar {
          img {
            width: 100%;
          }
        }
        &-item {
          width: 100%;
          word-wrap: break-word;
          color: #ffffff;
        }
      }
    }
  }
}

.MessagesLoader {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
