.section-users {
  color: #ffffff;
  padding: 0 10px 10px 10px;
  background-color: rgba(24, 22, 38, 0.4);
  &-elements {
    margin: 0 15px 15px 15px;
    &-header {
      color: #ffffff;
      text-transform: uppercase;
      padding: 20px 0 20px 20px;
      span {
        background: rgb(240, 9, 64);
        background: radial-gradient(
          circle,
          rgba(240, 9, 64, 1) 0%,
          rgba(252, 70, 107, 1) 100%
        );
        font-size: 18px;
        padding: 10px;
        border-radius: 10px;
        background-size: cover;
      }
    }
    &-item {
      background: rgb(69, 44, 52);
      background: linear-gradient(
        90deg,
        rgba(69, 44, 52, 1) 0%,
        rgb(121, 9, 9) 35%,
        rgba(184, 37, 48, 1) 100%
      );
      border-radius: 15px;
      padding: 10px;
      margin-bottom: 15px;
      &-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        button {
          width: 100%;
          margin: 10px;
          font-weight: 700;
          text-transform: uppercase;
          border: none;
          background-color: rgb(0, 0, 0);
        }
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &-location {
        display: flex;
        justify-content: flex-end;
      }
    }
    &-status {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;
    }
    &-showbutton {
      button {
        background-color: dodgerblue;
        width: 100%;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        padding: 10px;
        outline: none;
        border: none;
        border-radius: 10px;
      }
      button:hover {
        background-color: rgba(30, 173, 255, 0.7);
      }
    }
  }
}
